In [19]:
import pandas as pd

df = pd.read_csv('musae_facebook_edges.csv')
print(df.values.shape)
df[30:40]

(171002, 2)

    id_1   id_2
30     1  21729
31     1  10554
32     1  11557
33     1   5228
34     1   9934
35     2   9048
36     2   6353
37     2   2629
38     2  11537
39     2  13205

In [26]:
df_counts_id1 = df['id_1'].value_counts()
print(df_counts_id1)

1387     472
2442     365
701      364
8139     261
5458     247
        ...
8345       1
1238       1
21596      1
3159       1
0          1
Name: id_1, Length: 18357, dtype: int64

In [28]:
print(df_counts_id1.values.shape)

(18357,)